accelerate==1.13.0
huggingface_hub==1.4.1
python-dotenv==1.1.1
safetensors==0.7.0
sentencepiece==0.2.1
tokenizers==0.22.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==5.1.0
protobuf==5.29.5
numpy==2.0.2
requests==2.32.4
tqdm==4.67.1
filelock==3.16.1
packaging==24.1
PyYAML==6.0.2
regex==2024.11.6